# Core Django
DJANGO_SECRET_KEY=
DEBUG=True
ALLOW_ALL_HOSTS_IN_DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
APP_BASE_URL=
CSRF_TRUSTED_ORIGINS=
ENABLE_HTTPS=False
USE_WHITENOISE=
SERVE_MEDIA=True
DATABASE_URL=
REDIS_URL=
MEDIA_ROOT=
STATIC_ROOT=
ALLOW_EMBEDDED_PREVIEW=True

# Social Auth (Google)
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=

# Social Auth (GitHub)
SOCIAL_AUTH_GITHUB_KEY=
SOCIAL_AUTH_GITHUB_SECRET=
